  <div id="iconband">
    <img src="/static/img/audio_over.png" style="display:none">
    <img src="/static/img/video_over.png" style="display:none">
    <img src="/static/img/image_over.png" style="display:none">
    <img src="/static/img/text_over.png" style="display:none">
    <img src="/static/img/link_over.png" style="display:none">
    <a href="/post/new/audio/">
      <img src="/static/img/audio.png" alt="post a song" height="50" width="58"
       name="audioicon" onmouseover="this.src='/static/img/audio_over.png'"
       onmouseout="this.src='/static/img/audio.png'">
    </a>
    <a href="/post/new/video/">
      <img src="/static/img/video.png" alt="post a video" height="50" width="58"
       name="videoicon" onmouseover="this.src='/static/img/video_over.png'"
       onmouseout="this.src='/static/img/video.png'">
    </a>
    <a href="/post/new/image/">
      <img src="/static/img/image.png" alt="post an image" height="50" width="58"
       name="imageicon" onmouseover="this.src='/static/img/image_over.png'"
       onmouseout="this.src='/static/img/image.png'">
    </a>
    <a href="/post/new/text/">
      <img src="/static/img/text.png" alt="post a text" height="50" width="58"
       name="texticon" onmouseover="this.src='/static/img/text_over.png'"
       onmouseout="this.src='/static/img/text.png'">
    </a>
    <a href="/post/new/link/">
      <img src="/static/img/link.png" alt="post a link" height="50" width="58"
       name="webicon" onmouseover="this.src='/static/img/link_over.png'"
       onmouseout="this.src='/static/img/link.png'">
    </a>
  </div>
