{% extends 'default/base.html' %}

{% block title %}<title>Register - Blackbook</title>{% endblock %}
{%- block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/style/default/default.css">
{%- endblock %}

{%- block scripts %}
<script type="text/javascript" src="/static/script/sha1.js"></script>
<script type="text/javascript" src="/static/script/register.js"></script>
{%- endblock %}

{% block content %}

{%- if not registration_enabled %}
  <div style="width:800px">
    <h3>Registration is currently disabled, sorry.</h3>
  </div>
{%- endif %}

  <div id="register">

    <h3>Register</h3>

    <div class="form_input">
      <form id="register_form" action="/register/" method="post" onsubmit="return checkForm()">
        <dl>
        <dt>Username:</dt>
        <dd><input type="text" id="username" name="username" tabindex="1"></dd>
        <dt>Password:</dt>
        <dd><input type="password" id="password_1" tabindex="2"></dd>
        <dt>Password (repeat):</dt>
        <dd><input type="password" id="password_2" tabindex="3"></dd>
        <dt>Email address:</dt>
        <dd><input type="text" id="email" name="email" tabindex="4"></dd>
        </dl>

        <input type="hidden" id="password" name="password">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="submit" value="Register" tabindex="5" {% if not registration_enabled %}disabled{% endif %}>
      </form>
    </div>

  </div>
{% endblock %}
{%- block navigation_pos %}{%- endblock %}
