<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
       "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">

  {% block title %}<title>Blackboard</title>{% endblock %}

  {%- block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/static/style/{{ style }}/default.css">
  <link rel="stylesheet" type="text/css" href="/static/style/{{ style }}/audiojs.css">
  {%- endblock %}
  {%- block scripts %}
  <script type="text/javascript" src="/static/script/iconanimation.js"></script>
  <script type="text/javascript" src="/static/script/audio.js"></script>
  <script type="text/javascript">
    audiojs.events.ready(function() {
    var as = audiojs.createAll(
      {
        useFlash: true,
        preload: false
      });
    });
  </script>
  {%- endblock %}

</head>
<body>
<div id="wrapper">
{%- block header %}
  <div id="header"><h1><a href="/">Blackboard</a></h1></div>
{%- endblock %}

{%- block iconband %}{%- endblock %}
{%- block pagenumber %}{%- endblock %}

{%- block messagebox %}
{%- for category, message in get_flashed_messages(with_categories=True) %}
  <div class="messagebox {{ category }}">{{ message }}</div>
{%- endfor %}
{%- endblock %}

{%- block headline %}
{%- endblock %}

{%- block navigation %}
{%- endblock %}
{%- block content %}
{%- endblock %}
  
{%- block pagelinks %}
{%- if page %}
  <div id="pagelinks">
    {%- if page.prev %}<a href="/page/{{ page.prev }}/">neuere Einträge</a>{%- endif %}
    {%- if page.prev and page.prev %}&nbsp;|&nbsp;{% endif %}
    {%- if page.prev >= 1 %}<a href="/">erste Seite</a>{%- endif %}
    {%- if page.prev >= 1 and page.next %}&nbsp;|&nbsp;{% endif %}
    {%- if page.next %}<a href="/page/{{ page.next }}/">ältere Einträge</a>
    {%- endif %}
  </div>
{%- endif %}
{%- endblock %}

{%- block footer %}
  <div id="footer">
    <a href="/">Startseite</a>|
    <a href="/admin/">Administration</a>|
    <a href="mailto:{{ g.FEEDBACKADRESS }}">Feedback</a>|
    <a href="{{ g.IMPRINTURI }}">Impressum</a>|
    <a href="https://github.com/davidnieder/blackboard" target="_blank">Blackboard ist Open Source</a>
  </div>
{%- endblock %}
</div>

<script type="text/javascript"><!--
    var navigation = document.getElementById('navigation');
    if( navigation != null )    {
      var content = document.getElementById('content')
      // positions + widths:
      var marginLeft = 10;
      var contentPosition = content.offsetLeft;
      var contentWidth = content.offsetWidth;
      var navigationPosition = contentPosition + contentWidth + marginLeft + "px";
      // set position of navigation container
      navigation.style.left = navigationPosition;
    }
--></script>
</body>
</html>
