{% extends 'default/base.html' %}

{% block title %}<title>Ausgewählte Posts - Blackbook</title>{% endblock %}

{%- block iconband %}
{% include 'default/iconband.html' %}
{%- endblock %}

{%- block headline %}
  <div id="headline">
  {%- if type in ['text', 'link', 'image', 'audio', 'video'] %}
    <h4>Alle Einträge in der Kategorie '{{ type }}':</h4>
    {%- elif type == 'user' %}
    <h4>Alle Einträge von {{ username }}:</h4>
    {%- else %}
    <h4>Alle Einträge vom {{ type }}:</h4>
    {%- endif %}
  </div>
{%- endblock %}

{%- block navigation %}
{% include 'default/navigation.html' %}
{%- endblock %}

{% block content %}
  <div id="content">
  {% if posts %}
    {%- for post in posts %}
{% include 'default/post.html' %}
    {%- endfor %}
  {% else %}
    <h4>Keine Einträge gefunden</h4>
  {% endif %}
  </div>
{% endblock %}

{% block pagelinks %}
{% if page %}{% if type != 'user' %}
  <div id="pagelinks">
    {% if page.prev %}<a href="/posts/{{ type }}/{{ page.prev }}/">neuere Einträge</a>
    &nbsp;|&nbsp;{% endif %}

    {% if page.number>1 %}<a href="/posts/{{ type }}/1">erste Seite</a>{% endif %}

    {% if page.next and page.number>1 %}&nbsp;|&nbsp;{% endif %}
    {% if page.next %}<a href="/posts/{{ type }}/{{ page.next }}/">ältere Einträge</a>{% endif %}
  </div>
{% else %}
  <div id="pagelinks">
    {% if page.prev %}<a href="/posts/user/{{ username }}/{{ page.prev }}/">neuere Einträge</a>
    &nbsp;|&nbsp;{% endif %}

    {% if page.number>1 %}<a href="/posts/user/{{ username }}/1">erste Seite</a>{% endif %}

    {% if page.next and page.number>1 %}&nbsp;|&nbsp;{% endif %}
    {% if page.next %}<a href="/posts/user/{{ username }}/{{ page.next }}/">ältere Einträge</a>{% endif %}
  </div>
{% endif %}{% endif %}
{% endblock %}

