{% extends 'default/base.html' %}

{%- block title %}
  <title>Liste aller Einträge - Blackboard</title>
{%- endblock %}

{%- block iconband %}
{% include 'default/iconband.html' %}
{%- endblock %}

{%- block navigation %}
{% include 'default/navigation.html' %}
{%- endblock %}

{% block content %}
  <div id="content">
  {%- if posts %}
    <div id="post_list">
      <ul>
      {%- for post in posts %}
        <li>
          <a href="/posts/{{ post.id }}/">
          Eintrag #{{ post.id }} vom {{ post.date }} von {{ post.user }}:
          [{{ post.contenttype }}]
          {%- if post.title %} {{ post.title }}{%- else %} [no title]{%- endif %}
          </a>
        </li>
      {%- endfor %}
      </ul>
    </div>
  {%- else %}
    <div class="post">
      <h3>Keine Einträge vorhanden</h3>
    </div>
  {%- endif %}
  </div>
{% endblock %}
