{% extends 'default/base.html' %}

{% block title %}<title>Neuer Eintrag - Blackboard</title>{% endblock %}

{%- block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/static/style/{{ style }}/default.css">
  <link rel="stylesheet" type="text/css" href="/static/style/{{ style }}/newpost.css">
{%- endblock %}

{%- block scripts %}
  <script type="text/javascript"><!--
    function showhelp( show ) {
        if (show)   {    
            document.getElementById('helptext').style.display = 'inline';
            document.getElementById('showhelp').style.display = 'none';
            document.getElementById('hidehelp').style.display = 'inline';
        } else {
            document.getElementById('helptext').style.display = 'none';
            document.getElementById('showhelp').style.display = 'inline';
            document.getElementById('hidehelp').style.display = 'none';
        }        
    }
  --></script>
{%- endblock %}

{%- block content %}
  <div id="newpost">
  {% if posttype == 'text' %}<img src="/static/img/text.png">
  {% elif posttype == 'image' %}<img src="/static/img/image.png">
  {% elif posttype == 'video' %}<img src="/static/img/video.png">
  {% elif posttype == 'link' %}<img src="/static/img/link.png">
  {% elif posttype == 'audio' %}<img src="/static/img/audio.png">{% endif %}

  <h3>Neuen Eintrag verfassen</h3>
  <div id="helptext">
      Im Text- und Kommentarfeld <br>sind folgende html-Tags <br>erlaubt:
      &lt;a&gt; &lt;b&gt; &lt;i&gt; &lt;u&gt;
    </div>

  <div id="mask">
    <form action="/post/add/" method="post">
    <table>
  {% if posttype == 'text' %}
      <tr>
        <th colspan="2">Text posten</th>
      </tr>
      <tr>
        <td>Titel:<br>(optional)</td>
        <td><input type="text" size="46" name="title"></td>
      </tr>
      <tr>
        <td>Text:</td>
        <td><textarea cols="60" rows="15" name="content" wrap="soft"></textarea></td>
  {% elif posttype == 'link' %}
      <tr>
        <th colspan="2">Link posten</th>
      </tr>
      <tr>
        <td>Titel:<br>(optional)</td>
        <td><input type="text" size="46" name="title"></td>
      </tr>
      <tr>
        <td>Url:</td><td><input type="text" size="46" name="link"></td>
      </tr>
      <tr>
        <td>Kommentar:<br>(optional)</td><td><textarea cols="59" rows="12" name="comment"></textarea></td>
      </tr>
  {% elif posttype == 'video' %}
      <tr>
        <th colspan="2">Video posten</th>
      </tr>
      <tr>
        <td>Titel:<br>(optional)</td>
        <td><input type="text" size="46" name="title"></td>
      </tr>
      <tr>
        <td>Embedding-<br>Code:</td><td><textarea cols="59" rows="3" name="code"></textarea></td>
      </tr>
      <tr>
        <td>Kommentar:<br>(optional)</td><td><textarea cols="59" rows="12" name="comment"></textarea></td>
      </tr>
  {% elif posttype == 'image' %}
      <tr>
        <th colspan="2">Bild posten</th>
      </tr>
      <tr>
        <td>Titel:<br>(optional)</td>
        <td><input type="text" size="46" name="title"></td>
      </tr>
      <tr>
        <td>Url:</td><td><input type="text" size="46" name="link"></td>
      </tr>
      <tr>
        <td>Kommentar:<br>(optional)</td><td><textarea cols="59" rows="12" name="comment"></textarea></td>
      </tr>
  {% elif posttype == 'audio' %}
      <tr>
        <th colspan="2">Musik posten</th>
      </tr>
      <tr>
        <td>Titel:<br>(optional)</td>
        <td><input type="text" size="46" name="title"></td>
      </tr>
      <tr>
        <td>Embedding-<br>Code:</td><td><textarea cols="59" rows="3" name="code"></textarea></td>
      </tr>
      <tr>
        <td>Kommentar:<br>(optional)</td><td><textarea cols="59" rows="12" name="comment"></textarea></td>
      </tr>
  {% endif %}
      <tr>
        <td></td>
        <td>
          
        </td>
      </tr>
      <tr>
        <td>{% if posttype == 'text' %}<input type="hidden" name="contenttype" value="text">
            {% elif posttype == 'image' %}<input type="hidden" name="contenttype" value="image">
            {% elif posttype == 'video' %}<input type="hidden" name="contenttype" value="video">
            {% elif posttype == 'link' %}<input type="hidden" name="contenttype" value="link">
            {% elif posttype == 'audio' %}<input type="hidden" name="contenttype" value="audio">
            {% endif -%}
        </td>
        <td>
          <div style="float:right" id="showhelp">
            <a href="#" onclick="showhelp( true )">Hilfe zur Eingabe</a></div>
          <div style="float:right; display: none" id="hidehelp">
            <a href="#" onclick="showhelp( false )">Hilfe ausblenden</a></div>
          <input type="submit" value="Eintragen">
        </td>
      </tr>
    </table>
    </form>
  </div></div>
{% endblock %}
