{% extends 'default/base.html' %}

{% block title %}<title>Neuer Eintrag - Blackboard</title>{% endblock %}

{%- block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/static/style/{{ style }}/default.css">
  <link rel="stylesheet" type="text/css" href="/static/style/{{ style }}/newpost.css">
{%- endblock %}

{%- block scripts %}
  <script type="text/javascript">
    var upload_type = '{{ posttype }}';
    var upload_handler = '/upload/{{ posttype }}/';
  </script>
  <script type="text/javascript" src="/static/script/iconanimation.js"></script>
  <script type="text/javascript" src="/static/script/ajax-upload.js"></script>
  <script type="text/javascript" src="/static/script/upload.js"></script>
{%- endblock %}

{%- block iconband %}
{% include 'default/iconband.html' %}
{%- endblock %}

{%- block content %}
  <div id="newpost">
  {% if posttype == 'text' %}<img src="/static/img/text.png">
  {% elif posttype == 'image' %}<img src="/static/img/image.png">
  {% elif posttype == 'video' %}<img src="/static/img/video.png">
  {% elif posttype == 'link' %}<img src="/static/img/link.png">
  {% elif posttype == 'audio' %}<img src="/static/img/audio.png">{% endif %}

  <h3>Neuen Eintrag verfassen</h3>
  <div id="mask">
    <form action="/post/add/" method="post">
    <table>
  {% if posttype == 'text' %}
      <tr>
        <th colspan="2">Text posten</th>
      </tr>
      <tr>
        <td>Titel:<br>(optional)</td>
        <td><input type="text" size="46" name="title"></td>
      </tr>
      <tr>
        <td>Text:</td>
        <td>
          <textarea cols="60" rows="15" name="content" wrap="soft"></textarea>
          <input type="hidden" name="contenttype" value="text">
        </td>
  {% elif posttype == 'link' %}
      <tr>
        <th colspan="2">Link posten</th>
      </tr>
      <tr>
        <td>Titel:<br>(optional)</td>
        <td><input type="text" size="46" name="title"></td>
      </tr>
      <tr>
        <td>URL/URI:</td><td><input type="text" size="46" name="link"></td>
      </tr>
      <tr>
        <td>Kommentar:<br>(optional)</td>
        <td>
          <textarea cols="59" rows="12" name="comment"></textarea>
          <input type="hidden" name="contenttype" value="link">
        </td>
      </tr>
  {% elif posttype == 'video' %}
      <tr>
        <th colspan="2">Video posten</th>
      </tr>
      <tr>
        <td>Titel:<br>(optional)</td>
        <td><input type="text" size="46" name="title"></td>
      </tr>
      <tr>
        <td>Embed-<br>Code:</td>
        <td><textarea cols="59" rows="3" name="code"></textarea></td>
      </tr>
      <tr>
        <td>Kommentar:<br>(optional)</td>
        <td>
          <textarea cols="59" rows="12" name="comment"></textarea>
          <input type="hidden" name="contenttype" value="video">
        </td>
      </tr>
  {% elif posttype == 'image' %}
      <tr>
        <th colspan="2">Bild posten</th>
      </tr>
      <tr>
        <td>Titel:<br>(optional)</td>
        <td><input type="text" size="46" name="title"></td>
      </tr>
      <tr name="url_post">
        <td>URI:</td>
        <td>
          <input type="text" size="46" name="link" id="uploaded_file_url">
        </td>
      </tr>
      <tr name="url_post">
        <td></td>
        <td>
          <a href="#" onclick="switch_to_upload(true)">Ein Bild hochladen</a>
        </td>
      </tr>
      <tr name="upload_post" style="display:none">
        <td>Datei:</td>
        <td>
          <input type="text" size="21" id="filename" readonly>
          <input type="button" value="Durchsuchen" id="upload_button">
          <input type="button" value="Hochladen" id="start_upload" onclick="start()">
        </td>
      </tr>
      <tr name="upload_post" style="display:none">
        <td></td>
        <td>
          <div id="file_extensions">Erlaubte Dateien: .jpg .jpe .jpeg .png .git .svg .bmp<br>
            Maximale Dateigröße: 3MB</div>
          <div id="progress_bar" style="display:none">Datei wird hochgeladen
            <img src="/static/img/progressbar.gif" id="progress_gif" style="float:right"></div>
          <div id="upload_finished" style="display:none">
          Datei erfolgreich hochgeladen. Du kannst diesen Beitrag jetzt abschicken.</div>
          <div id="upload_error" style="display:none;color:#A52A2A;margin-top:0.3em;">
          Upload fehlgeschlagen. Bitte beachte Dateiendung und Dateigröße</div>
          <div id="switch_to_url" style="margin-top:0.5em;">
            <a href="#" onclick="switch_to_upload(false)" id="switch_link">Bild per Url einbinden</a></div>
        </td>
      </tr>
      <tr>
        <td>Kommentar:<br>(optional)</td>
        <td><textarea cols="59" rows="12" name="comment"></textarea>
            <input type="hidden" name="contenttype" value="image">
        </td>
      </tr>
  {% elif posttype == 'audio' %}
      <tr>
        <th colspan="2">Musik posten</th>
      </tr>
      <tr>
        <td>Titel:<br>(optional)</td>
        <td><input type="text" size="46" name="title"></td>
      </tr>
      <tr name="url_post">
        <td>Embed-<br>Code:</td>
        <td><textarea cols="59" rows="3" name="code" id="code_field"></textarea></td>
      </tr>
      <tr name="url_post">
        <td></td>
        <td>
          <a href="#" onclick="switch_to_upload(true)">Eine MP3 hochladen</a>
        </td>
      </tr>
      <tr name="upload_post" style="display:none">
        <td>Datei:</td>
        <td>
          <input type="text" size="21" id="filename" readonly>
          <input type="button" value="Durchsuchen" id="upload_button">
          <input type="button" value="Hochladen" id="start_upload" onclick="start()">
        </td>
      </tr>
      <tr name="upload_post" style="display:none">
        <td></td>
        <td>
          <div id="file_extensions">Erlaubte Dateien: .mp3<br>
            Maximale Dateigröße: 10MB</div>
          <div id="progress_bar" style="display:none">Datei wird hochgeladen
            <img src="/static/img/progressbar.gif" id="progress_gif" style="float:right"></div>
          <div id="upload_finished" style="display:none">
            Datei erfolgreich hochgeladen. Du kannst diesen Beitrag jetzt abschicken.</div>
          <div id="upload_error" style="display:none;color:#A52A2A;margin-top:0.3em;">
            Upload fehlgeschlagen. Bitte beachte Dateiendung und Dateigröße</div>
          <div id="switch_to_url" style="margin-top:0.5em;">
            <a href="#" onclick="switch_to_upload(false)" id="switch_link">Audio einbinden</a></div>
        </td>
      </tr>
      <tr>
        <td>Kommentar:<br>(optional)</td>
        <td><textarea cols="59" rows="12" name="comment"></textarea>
          <input type="hidden" name="contenttype" value="audio">
        </td>
      </tr>
  {% endif %}
	  <tr>
		<td></td>
		<td>
		  <input type="checkbox" name="public_post" id="public_post" value="1"> Diesen Eintrag als öffentlich markieren
      <tr>
        <td></td>
        <td>
          <input type="submit" id="submit_button" value="Eintragen">
        </td>
      </tr>
    </table>
    </form>
  </div></div>
{% endblock %}
