{% extends 'default/base.html' %}

{% block title %}<title>Seite {{ page.number }} - Blackboard</title>{% endblock %}

{%- block iconband %}
{% include 'default/iconband.html' %}
{%- endblock %}

{%- block pagenumber %}
  <div style="text-align:center; width: 800px">
    <h4>Seite {{ page.number }}</h4>
  </div>
{%- endblock %}
 
{%- block navigation %}
{% include 'default/navigation.html' %}
{%- endblock %}

{%- block content %}
  <div id="content">
  {%- if posts %}
    {%- for post in posts %}
{% include 'default/post.html' %}
    {%- endfor %}
  {%- else %}
    <h3>Keine Einträge vorhanden</h3>
  {%- endif %}
  </div>
{%- endblock %}
