{% extends 'default/base.html' %}

{% block title %}<title>Seite {{ page.number }} - Blackboard</title>{% endblock %}

{%- block iconband %}
  <img src="/static/img/audio_over.png" style="display:none">
  <img src="/static/img/video_over.png" style="display:none">
  <img src="/static/img/image_over.png" style="display:none">
  <img src="/static/img/text_over.png" style="display:none">
  <img src="/static/img/web_over.png" style="display:none">
  <div id="iconband">
    <a href="/post/new/audio">
      <img src="/static/img/audio.png" alt="post a song" height="50" width="58"
       name="audioicon" onmouseover="over_icon(this, '/static/img/audio_over.png')"
       onmouseout="over_icon(this, '/static/img/audio.png')">
    </a>
    <a href="/post/new/video">
      <img src="/static/img/video.png" alt="post a video" height="50" width="58"
       name="videoicon" onmouseover="over_icon(this, '/static/img/video_over.png')"
       onmouseout="over_icon(this, '/static/img/video.png')">
    </a>
    <a href="/post/new/image">
      <img src="/static/img/image.png" alt="post an image" height="50" width="58"
       name="imageicon" onmouseover="over_icon(this, '/static/img/image_over.png')"
       onmouseout="over_icon(this, '/static/img/image.png')">
    </a>
    <a href="/post/new/text">
      <img src="/static/img/text.png" alt="post a text" height="50" width="58"
       name="texticon" onmouseover="over_icon(this, '/static/img/text_over.png')"
       onmouseout="over_icon(this, '/static/img/text.png')">
    </a>
    <a href="/post/new/link">
      <img src="/static/img/web.png" alt="post a link" height="50" width="58"
       name="webicon" onmouseover="over_icon(this, '/static/img/web_over.png')"
       onmouseout="over_icon(this, '/static/img/web.png')">
    </a>
  </div>
{%- endblock %}

{%- block pagenumber %}
  <div style="text-align:center;">
    <h4>Seite {{ page.number }}</h4>
  </div>
{%- endblock %}
 
{%- block navigation %}
  <div id="navigation">
  {% if current_user.username %}
    Hallo, <b>{{ current_user.username }}</b>
    <ul>
      <li><a href="/user/{{ current_user.username }}">Profil</a></li>
      <li><a href="/user/settings/">Einstellungen</a></li>
      {%- if current_user.admin %}
      <li><a href="{{ url_for('admin_index') }}">Admin</a></li>
      {%- endif %}
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
    Neuen Beitrag erstellen:
    <ul>
      <li><a href="/post/new/audio/">Lied posten</a></li>
      <li><a href="/post/new/video/">Video posten</a></li>
      <li><a href="/post/new/image/">Bild posten</a></li>
      <li><a href="/post/new/text/">Text posten</a></li>
      <li><a href="/post/new/link/">Link posten</a></li>
    </ul>
  {% else %}
    Du bist nicht eingeloggt.
    <ul>
      <li><a href="{{ url_for('login') }}">Login</a></li>
      <li><a href="{{ url_for('register') }}">Registrieren</a></li>
    </ul>
  {% endif %}
  </div>
{%- endblock %}

{%- block content %}
  <div id="content">
  {%- if posts %}
    {%- for post in posts %}
    <div class="post">
      <h5 class="post datum">Post 
        <a href="/posts/{{ post.id }}/">#{{ post.id }}</a> vom 
        <a href="/posts/{{ post.date }}/">{{ post.date }}</a></h5>
      <h5 class="post author">von
        <a href="/user/{{ post.user }}/">{{ post.user }}</a>
      </h5>

    {%- if post.contenttype == 'text' %}
      <a href="/posts/text/"><img src="/static/img/text.png" height="50" class="post icon"></a>
      <h3 class="post title"><a href="/posts/{{ post.id }}/">{{ post.title }}</a></h3>
      <div class="post text">{{ post.text }}</div>

    {%- elif post.contenttype == 'link' %}
      <a href="/posts/link/"><img src="/static/img/web.png" height="50" class="post icon"></a>
      <h3 class="post title"><a href="/posts/{{ post.id }}/">{{ post.title }}</a></h3>
      <div class="post link"><a href="{{ post.url }}">{{ post.url }}</a></div>
      <div class="post text">{{ post.text }}</div>

    {%- elif post.contenttype == 'video' %}
      <a href="/posts/video/"><img src="/static/img/video.png" height="50" class="post icon"></a>
      <h3 class="post title"><a href="/posts/{{ post.id }}/">{{ post.title }}</a></h3>
      <div class="post embedded">{{ post.code |safe }}</div>
      <div class="post text">{{ post.text }}</div>

    {%- elif post.contenttype == 'audio' %}
      <a href="/posts/audio/"><img src="/static/img/audio.png" height="50" class="post icon"></a>
      <h3 class="post title"><a href="/posts/{{ post.id }}/">{{ post.title }}</a></h3>
      <div class="post embedded">{{ post.code |safe }}</div>
      <div class="post text">{{ post.text }}</div>

    {%- elif post.contenttype == 'image' %}
      <a href="/posts/image/"><img src="/static/img/image.png" height="50" class="post icon"></a>
      <h3 class="post title"><a href="/posts/{{ post.id }}/">{{ post.title }}</a></h3>
      <div class="post image"><img src="{{ post.url }}"></div>
      <div class="post text">{{ post.text }}</div>
    {%- endif %}

    </div>
    {%- endfor %}
  {%- else %}
    <h4>Keine Einträge gefunden</h4>
  {%- endif %}
  </div>
{%- endblock %}
