{% extends 'default/base.html' %}

{% block title %}<title>{%- if post %}Eintrag #{{ post.id }}{% endif %} - Blackboard</title>{% endblock %}

{% block content %}
  <div id="content">
  {%- if post %}
    <!--<h4>Eintrag Nummer {{ post.id }}:</h4>-->
    <div class="post">
      <h5 class="post datum">Post 
        <a href="/posts/{{ post.id }}/">#{{ post.id }}</a> vom 
        <a href="/posts/{{ post.date }}/">{{ post.date }}</a>
      </h5>
      <h5 class="post author">von
        <a href="/user/{{ post.user }}/">{{ post.user }}</a>
      </h5>

    {%- if post.contenttype == 'text' %}
      <a href="/posts/text/"><img src="/static/img/text.png" height="50" class="post icon"></a>
      <h3 class="post title">{{ post.title }}</h3>
      <div class="post text">{{ post.text |safe }}</div>

    {%- elif post.contenttype == 'link' %}
      <a href="/posts/link/"><img src="/static/img/web.png" height="50" class="post icon"></a>
      <h3 class="post title">{{ post.title }}</h3>
      <div class="post link"><a href="{{ post.url }}">{{ post.url }}</a></div>
      <div class="post text">{{ post.comment |safe }}</div>

    {%- elif post.contenttype == 'video' %}
      <a href="/posts/video/"><img src="/static/img/video.png" height="50" class="post icon"></a>
      <h3 class="post title">{{ post.title }}</h3>
      <div class="post embedded">{{ post.code |safe }}</div>
      <div class="post text">{{ post.text |safe }}</div>

    {%- elif post.contenttype == 'audio' %}
      <a href="/posts/audio/"><img src="/static/img/audio.png" height="50" class="post icon"></a>
      <h3 class="post title">{{ post.title }}</h3>
      <div class="post embedded">{{ post.code |safe }}</div>
      <div class="post text">{{ post.text |safe }}</div>

    {%- elif post.contenttype == 'image' %}
      <a href="/posts/image/"><img src="/static/img/image.png" height="50" class="post icon"></a>
      <h3 class="post title">{{ post.title }}</h3>
      <div class="post image"><img src="{{ post.url }}"></div>
      <div class="post text">{{ post.text |safe }}</div>
    {%- endif %}

    {%- else %}
      <h3 class="post title">Eintrag nicht vorhanden</h3>
    {%- endif %}
    </div>
    <div class="commentarea">      
    {%- if comments %}
      <a name="comments" href="#comments"><h4>Bisher {{ commentamount }} Kommentare</h4></a>
    {%- else %}
      <a name="comments" href="#comments"><h4>Bisher keine Kommentare</h4></a>
    {%- endif %}
    {%- for comment in comments %}
      <div class="commentbox">
        <h5>{{ comment.username }} schrieb am {{ comment.time }}:</h5>
        {{ comment.comment }}
      </div>
    {%- endfor %}
      <div class="newcomment">
        <form action="/comment/add/" method="post">
          <h4>Dein Kommentar</h4>
          <input type="hidden" name="relatedpost" value="{{ post.id }}">
          <textarea name="comment" cols="45" rows="8"></textarea><br>
          <input type="submit" value="Eintragen">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
