{% extends 'default/base.html' %}

{% block title %}<title>{%- if post %}Eintrag #{{ post.id }}{% endif %} - Blackboard</title>{% endblock %}

{%- block iconband %}
{% include 'default/iconband.html' %}
{%- endblock %}

{%- block navigation %}
{% include 'default/navigation.html' %}
{%- endblock %}

{% block content %}
  <div id="content">
  {%- if post %}
    <div class="post">
      <h5 class="post datum">Post 
        <a href="/posts/{{ post.id }}/">#{{ post.id }}</a> vom 
        <a href="/posts/{{ post.date }}/">{{ post.date }}</a>
      </h5>
      <h5 class="post author">von
        <a href="/user/{{ post.user }}/">{{ post.user }}</a>
      </h5>
      <div class="post icon"><a href="/posts/{{ post.contenttype }}/">
      <img src="/static/img/{{ post.contenttype }}.png" height="50" alt="icon"></a></div>
      <h3 class="post title">
      <a href="/posts/{{ post.id }}/">{{ post.title }}</a></h3>

    {%- if post.contenttype == 'text' %}
      <div class="post text"><pre>{{ post.text |safe }}</pre></div>

    {%- elif post.contenttype == 'link' %}
      <div class="post link"><a href="{{ post.url }}">{{ post.url }}</a></div>
      <div class="post text">{{ post.text |safe }}</div>

    {%- elif post.contenttype in ['video', 'audio'] %}
      <div class="post embedded">{{ post.code |safe }}</div>
      <div class="post text">{{ post.text |safe }}</div>

    {%- elif post.contenttype == 'image' %}
      <div class="post image"><img src="{{ post.url }}"></div>
      <div class="post text">{{ post.text |safe }}</div>

    {%- endif %}

    {%- if post.public_link %}
      <div class="post public_link_field">
        Öffentlicher Link: 
        <input type="text" size="25" onclick="this.select()"
            value="{{ request.url_root }}public/{{ post.public_link }}/" readonly>
      </div>
    {%- endif %}

    </div>
    <div class="commentarea">      
    {%- if comments %}
      <a name="comments" href="#comments"><h4>Bisher {{ commentamount }} Kommentare</h4></a>
    {%- else %}
      <a name="comments" href="#comments"><h4>Bisher keine Kommentare</h4></a>
    {%- endif %}
    {%- for comment in comments %}
      <div class="commentbox">
        <h5><a href="/user/{{ comment.username }}">{{ comment.username }}</a>
             schrieb am {{ comment.time }}:</h5>
        <blockquote><pre>{{ comment.comment }}</pre></blockquote>
      </div>
    {%- endfor %}
      <div class="newcomment">
        <form action="/comment/add/" method="post">
          <h4>Dein Kommentar</h4>
          <input type="hidden" name="relatedpost" value="{{ post.id }}">
          <textarea name="comment" cols="45" rows="8"></textarea><br>
          <input type="submit" value="Eintragen">
        </form>
      </div>
    </div>
  {%- else %}
    <div class="post">
      <h3>Eintrag nicht vorhanden</h3>
    </div>
  {%- endif %}
  </div>
{% endblock %}
