{% extends 'base.html' %}

{%- block scripts %}
  <script type="text/javascript" src="/static/script/inputverification.js"></script>
{%- endblock %}

{%- block content %}
  <div id="content">
    <h4>Benutzereinstellungen von {{ user.name }}</h4>
    <table border="0" rules="rows" cellpadding="15" width="80%">
      <tr>
        <form name="password" onsubmit="return checkpw()" action="/user/settings/password/" method="post">
          <td>aktuelles Passwort:<br><br>
              neues Passwort:<br>
              neues Passwort bestätigen:
          </td>
          <td>
            <input type="password" size="20" name="oldpass" onfocus="clearfield(this)"><br><br>
            <input type="password" size="20" name="newpass1" onfocus="clearfield(this)"><br>
            <input type="password" size="20" name="newpass2" onfocus="clearfield(this)">
          </td>
          <td>
            <input type="submit" value="Ändern">
          </td>
        </form>
      </tr>
      <tr>
        <form name="email" onsubmit="return checkemail()" action="/user/settings/email/" method="post">
          <td>E-Mail-Adresse:</td>
          <td>
            <input type="text" size="20" name="newemail" value="{{ user.email }}" onfocus="clearfield(this)">
          </td>
          <td>
            <input type="submit" value="Ändern">
          </td>
        </form>
      </tr>
      <tr>
        <form name="posts" action="/user/settings/postspersite/" method="post">
          <td>Einträge pro Seite:</td>
          <td>
            <select size="1" name="postspersite">
            <option{% if user.postspersite ==  5 %} selected{% endif %}>5</option>
            <option{% if user.postspersite == 10 %} selected{% endif %}>10</option>
            <option{% if user.postspersite == 15 %} selected{% endif %}>15</option>
            </select>
          </td>
          <td>
            <input type="submit" value="Ändern">
          </td>
        </form>
      </tr>
      <tr>
      <tr>
        <form name="notification" action="/user/settings/notification/" method="post">
          <td>Per E-Mail über neue<br>Einträge und Kommentare<br>benachrichtigen?</td>
          <td>
            <select size="1" name="emailnotification">
            <option value="1"{% if user.emailnotification %} selected{% endif %}>Ja</option>
            <option value="0"{% if user.emailnotification %} selected{% endif %}>Nein</option>
            </select>
          </td>
          <td><input type="submit" value="Ändern" disabled></td>
        </form>
      </tr>
        <form name="avatar" action="/user/settings/avatar/" method="post">
          <td>Avatar</td>
          <td><input type="text" size="20" value="not yet implemented" disabled></td>
          <td><input type="submit" value="Ändern" disabled></td>
        </form>
      </tr>
      <tr>
        <form name="style" action="/user/settings/style/" method="post">
          <td>Style:</td>
          <td>
            <select size="1" name="style">
            <option>default</option>
            </select>
          </td>
          <td><input type="submit" value="Ändern" disabled></td>
        </form>
      </tr>
      <tr>
        <form name="template" action="/user/settings/template/" method="post">
          <td>Template:</td>
          <td>
            <select size="1" name="style">
            <option>default</option>
            </select>
          </td>
          <td><input type="submit" value="Ändern" disabled></td>
        </form>
      </tr>
      <tr>
        <td colspan="3"><input type="button" value="Fertig" onclick="javascript:window.location='/';"></td>
      </tr>
    </table>
  </div>
{%- endblock %}
