{% extends 'base.html' %}

{% block content %}
  <div id="content">
    <h4>Profil von {{ user.name }}</h4>
    <table>
      <tr>
        <td>Name:</td>
        <td>{{ user.name }}</td>
      </tr>
      <tr>
        <td>E-Mail:</td>
        <td>{{ user.email }} <a href="mailto:{{ user.email }}">(mail schreiben)</a></td>
      </tr>
      <tr>
        <td>Avatar:</td>
        <td>{{ user.avatar }}</td>
      </tr>
      <tr>
        <td>Aktiviert?</td>
        <td>{% if user.active %}Ja{% else %}Nein{% endif %}</td>
      </tr>
      <tr>
        <td>Zuletzt angemeldet:</td>
        <td>{{ user.lastlogin }}</td>
      </tr>
    </table>
    <h5><a href="/posts/user/{{ user.name }}/">Alle Beiträge von {{ user.name }} anzeigen</a></h5>
  </div>
{% endblock %}
