body  {
    color: #4274A1;
    border-color: #6294C1;
    border-width: thin;
}

div#wrapper    {
    width: 1024px;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

img#icon    {
    margin-left: 1em;
}

div#header {
    width: 800px;
    margin-top: 0.5em;
    font-family: 'Georgia', serif;
    text-align: center;
    color: #4274A1;
}
div#header a    {
    text-decoration: none;
}

div#iconband  {
    width: 800px;
    margin-top: 1em;
    margin-bottom: 1.5em;
    text-align: center;
}
div#iconband img {
    margin-right: 0.5em;
    margin-left: 0.5em;
}
div#iconband a  {
    text-decoration: none;
}

div.messagebox {
    width: 800px;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: bold;
    border-style: solid;
    border-width: thin;
}
.messagebox.message {

}
.messagebox.error   {
    color: #A52A2A
}

div#headline    {
    width: 800px;
    text-align: center;
}

div#navigation {
    text-align: left;
    border-style: solid;
    border-width: thin;
    /*margin-top: 2em;*/
    padding: 0.3em;
    width: 200px;
    position: fixed;
    left: 0px;
}

div#content    {
    width: 800px;
    text-align: center;
    /*margin-top: 2em;*/
}
div#content table   {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0.2em;
}
div#content td  {
    padding-left: 1em;
    padding-right: 1em;
}

div.post  {
    border: 1px solid #6294C1;
    margin-bottom: 20px;
}
.post.datum   {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 0em;
}
.post.author  {
    text-align: right;
    margin-right: 10px;
    margin-top: 0em;
    margin-bottom: 0em;
}
.post.icon    {
    position: relative;
    left: 10px;
    top: -20px;
    width: 51px;
    margin-bottom: 0px;
    border-style: none;
}

.post.title   {
    margin-top: -40px;
    margin-left: 10%;
    margin-right: 10%;
}
.post.title a {
    color: #000;
}
.post.title a:hover  {
    text-decoration: underline;
    color: #4274A1;
}
.post.text    {
    margin-left: 12%;
    margin-right: 12%;
    text-align: justify;
    margin-bottom: 10px;
    border-style: none;
}
.post.embedded {
    text-align: center;
    border-style: none;
    margin-bottom: 10px;
}
.post.link    {
    border-style: none;
    margin-bottom: 10px;
    margin-left: 12%;
    margin-right: 12%
}
.post.image   {
    border-style: none;
    margin-bottom: 10px;
}
.post.image img {
    max-width: 560px;
}
.post.commentlink {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 2px;
    border-style: none;
}

div#pagelinks   {
    clear: right;
    width: 800px;
    margin-top: 1.5em;
    text-align: center;
}

div#footer {
    width: 800px;
    margin-top: 1.5em;
    margin-bottom: 1em;
    padding-top: 1em;
    text-align: center;
    border-top-width: thin;
    border-top-style: solid;
}
div#footer a  {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

div.commentarea {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2em;
}
.commentarea h4 {
    text-align: left;
    margin-bottom: 0.7em;
    margin-top: 0em;
}
.commentbox {
    text-align: center;
    border: 1px solid #6294C1;
    margin-bottom: 0.5em;
    margin-left: 0em;
    padding-bottom: 0.5em;
}
.commentbox h5  {
    text-align: left;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
.commentbox blockquote  {
    text-align: justify;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
}

.newcomment {
    text-align: left;
    margin-top: 1em;
    margin-left: 0em;
}
.newcomment h4  {
    margin-bottom: 0.5em;
}

img.avatar  {
    max-width: 100px;
    max-height: 100px;
}
.avatar.settings {
    margin-top: 5px;
    margin-bottom: 5px;
}

a:link, a:visited, a:active {
    color: #4274A1;
}
a:hover   {
    color: #4274A1;
    text-decoration: none;
}
