<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">

  {%- block feeds %}
  <link rel="alternate" title="Recent posts" type="application/atom+xml" href="/feed/">
  {%- endblock %}

  {%- block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/static/style/default/base.css">
  {%- endblock %}

  {%- block scripts %}
  {%- if current_user.is_admin() %}
  <script type="text/javascript" src="/static/script/admin.js"></script>
  {% endif %}
  {% endblock %}

  {%- block title %}<title>Blackboard</title>{% endblock %}

</head>
<body>
<div class="wrapper">
{%- block header %}
  <header class="site-header">
    <h2><a href="/">Blackboard</a></h2>
  </header>
{%- endblock %}

{%- block messagebox %}
{%- for category, message in get_flashed_messages(with_categories=True) %}
  <div class="message-box">
    <h3 class="{{ category }}">{{ message }}</h3>
  </div>
{%- endfor %}
{% endblock %}

{%- block sidebar %}
{% include 'default/sidebar.html' %}
{% endblock %}

{%- block content %}
  <div class="content">

  {%- block posts %}
  {% endblock %}

  {%- block pagelinks %}
  {% if page_links %}
    <div class="page-links">
      {% if page_links.prev %}<a href="/page/{{ page_links.prev }}/" class="prev">&larr; Newer entries</a>{% endif %}
      {% if page_links.prev >= 2 %}<a href="/" class="first">First page</a>{% else %}&nbsp;{% endif %}
      {% if page_links.next %}<a href="/page/{{ page_links.next }}/" class="next">Older entries &rarr;</a>{% endif %}
    </div> <!-- end page-links -->
  {% endif %}
  {%- endblock %}

  </div> <!-- end content -->
{% endblock %}


{%- block footer %}
  <footer class="site-footer">
    <a href="/">Home Page</a>|
    <a href="/admin/">Administration</a>|
    <a href="mailto:{{ FEEDBACK_ADDRESS }}">Feedback</a>|
    <a href="{{ IMPRINT_URI }}">Imprint</a>|
    <a href="https://github.com/davidnieder/blackboard" target="_blank">Blackboard is open source</a>
  </footer> <!-- end footer -->
{% endblock %}

</div> <!-- end wrapper -->

<input id="__csrf_token" type="hidden" value="{{ csrf_token() }}">
</body>
</html>
