{% extends 'default/base.html' %}

{% block title %}<title>Preview - Blackboard</title>{% endblock %}

{%- block scripts %}
  <script type="text/javascript" src="/static/script/new_post.js"></script>
{% endblock %}

{%- block content %}
  <div class="content">
    <div class="content headline">
      {% if action == 'edit' %}
      <h2>Edit</h2>
      {% else %}
      <h2>Preview</h2>
      {% endif %}
    </div>

{% include 'default/post.html' %}

    <div class="new-post">
      <dl class="post-area">
        <form action="/post/add/" method="post" id="post_form">

        <dt>Title</dt>
        <dd><input type="text" id="post_title" name="post_title" tabindex="1" value="{{ post.title }}"></dd>
        <dt>Post</dt>
        <dd><textarea name="post_content" id="post_content" tabindex="2">{{ post.content }}</textarea></dd>

        <dd>
          Change category
          <select size="1" name="post_category" id="post_category" tabindex="3">
            <option value="video" {%- if post.content_type == 'video' %} selected{% endif %}>Videos</option>
            <option value="audio" {%- if post.content_type == 'audio' %} selected{% endif %}>Audio</option>
            <option value="image" {%- if post.content_type == 'image' %} selected{% endif %}>Images</option>
            <option value="text" {%- if post.content_type == 'text' %} selected{% endif %}>Texts</option>
            <option value="link" {%- if post.content_type == 'link' %} selected{% endif %}>Links</option>
          </select>
       </dd>

        <dd>
          <input type="checkbox" name="post_is_public" tabindex="4" {% if post.is_public %}checked{% endif %}>Mark this post as public
        </dd>

        <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
        <input type="button" id="preview_button" value="Preview" tabindex="5" onclick="preview_post()" {%- if action=='edit' %} disabled{% endif %}>
        <input type="button" id="submit_button" value="Submit" tabindex="6"
        {%- if action=='edit' %} onclick="edit_post({{ post.id }})"
        {%- else %} onclick="submit_post()" {% endif -%}>

        </form>
      </dl>

      <dl class="upload-area">
      <dt>Upload</dt>
      <dd id="upload_form">
        <input type="text" id="file_name" readonly>
        <input type="button" value="Browse Filesystem" id="browse_filesystem" tabindex="7">
        <input type="button" value="Upload" id="start_upload" tabindex="8" onclick="start_upload()">
      </dd>

      <dt>Resources</dt>
      <dd><textarea id="uploaded_resources" tabindex="9" readonly></textarea>

      </dl>

    </div> <!-- end new-post -->
  </div> <!-- end content -->
{% endblock %} 
