{% extends 'default/base.html' %}

{%- block title %}
  <title>List of all entries - Blackboard</title>
{%- endblock %}

{%- block content %}
  <div class="content">

  {%- if posts %}
    <div class="post-list">
      <ul>
      {%- for post in posts %}
        <li class="post-list-{{ post.content_type }}">
          <a href="/posts/{{ post.id }}/">
          Post #{{ post.id }} by {{ post.user.name }} on {{ post.time |date }}:
          {%- if post.title %} {{ post.title }}{%- else %} [no title]{%- endif %}
          </a>
        </li>
      {%- endfor %}
      </ul>
    </div>
  {%- else %}
    <div class="content headline">
      <h2>No entries found</h2>
    </div>
  {%- endif %}

  </div> <!-- end content -->
{% endblock %}
