{% extends 'default/base.html' %}

{%- block title %}
  <title>New Post - Blackboard</title>
{% endblock %}

{%- block scripts %}
  <script type="text/javascript" src="/static/script/new_post.js"></script>
  <script type="text/javascript" src="/static/script/upload.js"></script>
{% endblock %}

{%- block content %}
  <div class="content">
    <div class="content headline">
      <h2>Write a new post</h2>
    </div>

    <div class="new-post">
      <dl class="post-area">
        <form action="/post/add/" method="post" id="post_form">

        <dt>Title</dt>
        <dd><input type="text" id="post_title" name="post_title" tabindex="1"></dd>
        <dt>Post</dt>
        <dd><textarea name="post_content" id="post_content" tabindex="2"></textarea></dd>

        <dd>
          Change category
          <select size="1" name="post_category" id="post_category" tabindex="3">
            <option value="video" {% if post_type == 'video' %}selected{% endif %}>Videos</option>
            <option value="audio" {% if post_type == 'audio' %}selected{% endif %}>Audio</option>
            <option value="image" {% if post_type == 'image' %}selected{% endif %}>Images</option>
            <option value="text" {% if post_type == 'text' %}selected{% endif %}>Texts</option>
            <option value="link" {% if post_type == 'link' %}selected{% endif %}>Links</option>
          </select>
       </dd>

        <dd>
          <input type="checkbox" name="post_is_public" tabindex="4">Mark this post as public
        </dd>

        <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
        <input type="button" id="preview_button" value="Preview" tabindex="5" onclick="preview_post()">
        <input type="button" id="submit_button" value="Submit" tabindex="6" onclick="submit_post()">

        </form>
      </dl>

      <dl class="upload-area">
        <dt>Upload</dt>
        <dd id="upload_form">

          <input type="text" id="file_name" readonly>
          <input type="button" value="Browse Filesystem" id="browse_filesystem" tabindex="7" onclick="browse_filesystem()">
          <input type="button" value="Upload" id="start_upload" tabindex="8" onclick="start_upload()">

        </dd>
        <dd id="upload_status" class="upload-progress">
          Upload progressing... <progress></progress>
        </dd>
        <dd id="upload_error" class="upload-error">

        </dd>

        <dt>Resources</dt>
        <dd><textarea id="uploaded_resources" tabindex="9" readonly></textarea>

      </dl>

    </div> <!-- end new-post -->
  </div> <!-- end condent -->
{% endblock %}
