  <article id="post-{{ post.id }}" class="post">
    <header class="post-header">
      <h2>
        <a href="/posts/{{ post.id }}/">{{ post.title }}</a>
      </h2>
    </header>
    <div class="post-content">
      {{ post.content |safe }}
    </div>
    <footer>
      <span>
        {%- if post.comments|len == 1 %}
        <a href="/posts/{{ post.id }}/#comments">One comment</a>,
        {%- elif post.comments|len > 1%}
        <a href="/posts/{{ post.id }}/#comments">{{ post.comments|len }} comments</a>,
        {%- else %}
        <a href="/posts/{{ post.id }}/#comments">Leave a comment</a>,
        {%- endif %}
        <a href="/posts/{{ post.id }}/">Permalink</a>
      </span>
      This entry was posted in <a href="/posts/{{ post.content_type }}/">{{ post.content_type }}</a>
      on {{ post.time |date }} by <a href="/posts/user/{{ post.user.name }}/">{{ post.user.name }}</a>
      {% if current_user.is_admin() and post.id %}
      <div class="admin-box">
        <a href="/posts/{{ post.id }}/edit/">Edit</a>,
        <a href="#" onclick="_delete_post({{ post.id }})">Delete</a>
      </div>
      {% endif %}
    </footer>
  </article> <!-- end post-{{ post.id}} -->
