{% extends 'default/public_base.html' %}

{%- block posts %}
{%- if posts %}
  <div class="content headline">
  {%- if type in ['text', 'link', 'image', 'audio', 'video'] %}
    <h2>All entries posted in category {{ type }}:</h2>
  {%- elif type == 'user' %}
    <h2>All entries posted by {{ username }}:</h2>
  {%- else %}
    <h2>All entries posted on {{ type.split('-')[2] }}.{{type.split('-')[1]}}.{{type.split('-')[0]}}:</h2>
  {%- endif %}
  </div>

  {%- for post in posts %}
{% include 'default/public_post.html' %}
  {% endfor %}

{%- else %}
  <div class="content headline">
    <h2>No entries found in this category</h2>
  </div>
{% endif %}
{% endblock %}
