{% extends 'default/public_base.html' %}

{%- block posts %}
{%- if posts %}
  <div class="content headline">
  {%- if type in ['text', 'link', 'image', 'audio', 'video'] %}
    <h2>All entries posted in category {{ type }}:</h2>
  {%- elif type == 'user' %}
    <h2>All entries posted by {{ username }}:</h2>
  {%- else %}
    <h2>All entries posted on {{ type.split('-')[2] }}.{{type.split('-')[1]}}.{{type.split('-')[0]}}:</h2>
  {%- endif %}
  </div>

  {%- for post in posts %}
{% include 'default/public_post.html' %}
  {% endfor %}

{%- else %}
  <div class="content headline">
    <h2>No entries found in this category</h2>
  </div>
{% endif %}
{% endblock %}

{%- block pagelinks %}
{%- if page_links %}
  <div class="page-links">
  {%- if type == 'user' %}
    {% if page_links.prev %}<a href="/public/user/{{ username }}/{{ page_links.prev }}/" class="prev">&larr; Newer entries</a>{% endif %}
    {% if page_links.prev >= 2 %}<a href="/public/user/{{ username }}/1/" class="first">First page</a>{% else %}&nbsp;{% endif %}
    {% if page_links.next %}<a href="/public/user/{{ username }}/{{ page_links.next }}/" class="next">Older entries &rarr;</a>{% endif %}
  {%- elif type in ['text', 'link', 'image', 'audio', 'video'] %}
    {% if page_links.prev %}<a href="/public/category/{{ type }}/{{ page_links.prev }}/" class="prev">&larr; Newer entries</a>{% endif %}
    {% if page_links.prev >= 2 %}<a href="/public/category/{{ type }}/1/" class="first">First page</a>{% else %}&nbsp;{% endif %}
    {% if page_links.next %}<a href="/public/category/{{ type }}/{{ page_links.next }}/" class="next">Older entries &rarr;</a>{% endif %}
  {%- endif %}
  </div>
{%- endif %}
{%- endblock %}
