<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">

  {% block title %}<title>Blackboard</title>{% endblock %}

  {%- block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/static/style/default/default.css">
  {%- endblock %}
  {%- block scripts %}
  {%- endblock %}

</head>
<body>
<div id="wrapper">
{%- block header %}
  <div id="header"><h1><a href="/">Blackboard/public</a></h1></div>
{%- endblock %}

{%- block page_number %}
{%- endblock %}

<div id="content">
{%- block messagebox %}
{%- for category, message in get_flashed_messages(with_categories=True) %}
  <div class="messagebox {{ category }}">{{ message }}</div>
{%- endfor %}
{%- endblock %}

{%- block content %}
{%- endblock %}
</div>
  
{%- block pagelinks %}
{%- if page_links %}
  <div id="pagelinks">
    {%- if page_links.prev and page_links.prev != 1 %}<a href="/public/page/{{ page_links.prev }}/">Next Entries</a>{%- endif %}
    {%- if page_links.prev and page_links.prev != 1 %}|{% endif %}
    {%- if page_links.prev >= 1 %}<a href="/public/">First Page</a>{%- endif %}
    {%- if page_links.prev >= 1 and page_links.next %}|{% endif %}
    {%- if page_links.next %}<a href="/public/page/{{ page_links.next }}/">Previous Entries</a>
    {%- endif %}
  </div>
{%- endif %}
{%- endblock %}

{%- block footer %}
  <div id="footer">
    <a href="/">Home Page</a>|
    <a href="/login/">Login</a>|
    <a href="mailto:{{ FEEDBACK_ADDRESS }}">Feedback</a>|
    <a href="{{ IMPRINT_URI }}">Imprint</a>|
    <a href="https://github.com/davidnieder/blackboard" target="_blank">Blackboard is open source</a>
  </div>
{%- endblock %}
</div>

</body>
</html>
