    <article id="post-{{ post.public_id }}" class="post">
      <header class="post-header">
        <h2>
          <a href="/public/{{ post.public_id }}/">{{ post.title }}</a>
        </h2>
      </header>
      <div class="post-content">
        {{ post.content |safe }}
      </div>
      <footer>
        <span>
          <a href="/public/{{ post.public_id }}/">Permalink</a>,
        </span>
        This entry was posted in <a href="/public/category/{{ post.content_type }}/">{{ post.content_type }}</a>
        on {{ post.time |date }} by <a href="/public/user/{{ post.user.name }}/">{{ post.user.name }}</a>
      </footer>
    </article> <!-- end post-{{ post.public_id }} -->

