  body  {
    background-color: #f9f9f9;
    color: #4274A1;

    border-color: #326491;
  }

  a:link    {
    color: #4274A1;
  }

  a:visited    {
    color: #4274A1;
  }

  a:hover   {
    color: #4274A1;
    text-decoration: none;
  }

  h1#header {
    font-family: 'Georgia', serif;
        
    margin-top: 0.4em;
    margin-left: 0.5em;
    margin-right: 4%;
    margin-bottom: 0em;
    padding: 0.2em;

    text-align: center;
    color: #4274A1;
  }
  h1#header a   {
    text-decoration: none;
    color: #4274A1;
  }

  div.messagebox    {
    width: 800px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0em;
    padding: 0.5em;

    text-align: center;
    border: 1px dashed #023461;
  }

  div#navigation    {
    padding: 0.2em;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: left;

    width: 12em;
    height: 20em;

    border-style: dashed;
    border-width: thin;
    border-color: #000;
    float: left;
  }

  div#content   {
    padding: 0.5em;
    margin-top: 2em;
    margin-left: 300px;
    text-align: center;

    border-style: dashed;
    border-width: thin;
    border-color: #000;
  }

  div#content table {
    margin-left: auto;
    margin-right: auto;

    border-spacing: 1em;
    text-align: center;
  }

  div#footer    {
    margin-top: 6.5em;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0.5em;
    padding-top: 0.6em;

    text-align: center;

    border-top-width: medium;
    border-top-style: solid;
    border-color: #023461;
    clear: left;
  }
  div#footer a  {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
