div#login   {
    padding-bottom: 1em;
    margin-left: 22%;
    margin-right: 22%;

    text-align: center;

    border-style: solid;
    border-width: thin;
}

div#login table {
    margin-left: auto;
    margin-right: auto;

    border-spacing: 0.1em;
}

div#login td    {
    text-align: left;
}
