div#newpost {
    height: 35em;

    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-top: 1.5em;
    margin-right: 14em;
    margin-bottom: 1em;
    margin-left: 14em;

    text-align: left;
    /*background-color: #122030;*/
    color: #4274A1;
    border: 1px solid #000;
}

div#newpost img {
    float: left;
}

div#newpost h3  {
    text-align: left;
    margin-left: 41%;
}

div#mask    {
    margin-left: 25%;
    clear: both;
}

div#mask table  {
    border-spacing: 0.5em;
    width: 60%;
}

div#mask th {
    text-align: center;
}

div#helptext    {
    display: none;
    border: 1px solid;
    float: right;
    padding: 0.5em 0.5em 0.5em 0.5em;
}
