{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/style/default.css">
<link rel="stylesheet" type="text/css" href="/static/style/login.css">
{% endblock %}

{%- block scripts %}
<script type="text/javascript" src="/static/script/inputverification.js"></script>
{%- endblock %}

{% block title %}<title>Login - Blackbook</title>{% endblock %}

{% block errorbox %}{% if error %}  <div id="errorbox">{{ error }}</div>{% endif %}{% endblock %}

{% block content %}
  <div id="login">
    <h3>Login</h3>
    <table><form name="login" action="/login/" method="post" onsubmit="return checkloginform()">
      <tr>
        <td>Benutzername: &nbsp;</td>
        <td><input type="text" size="15" name="username" tabindex="1"></td>
      </tr>
      <tr>
        <td>Passwort: </td>
        <td><input type="password" size="15" name="password" tabindex="2"></td>
      </tr>
      <tr>
        <td>&nbsp;</td><td>&nbsp;</td>
      </tr>
      <tr>
        <th colspan="2">
          <input type="submit" value="Login" tabindex="3">
        </th>
      </tr>
    </form></table>

    <br><br>
    <a href="#">Passwort vergessen?</a> &nbsp; <a href="/register/">Noch keinen Account?</a>
  </div>
{% endblock %}

