body  {
  color: #4274A1;
  font-size: 1em;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light",
               "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica",
               "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 400;
  font-stretch: normal;

  margin: 0;
  padding: 0;
}

div#wrapper  {
  width: 1024px;
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

img#icon  {
  margin-left: 1em;
}

div#header {
  width: 800px;
  margin-top: 0.5em;
  font-family: 'Georgia', serif;
  text-align: center;
  color: #4274A1;
}
div#header a  {
  text-decoration: none;
}

div#iconband  {
  width: 800px;
  margin-top: 1em;
  margin-bottom: 1.5em;
  text-align: center;
}
div#iconband img {
  margin-right: 0.5em;
  margin-left: 0.5em;
}
div#iconband a  {
  text-decoration: none;
}

div.messagebox {
  width: 800px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  font-weight: bold;
  border-style: solid;
  border-width: thin;
}
.messagebox.message {

}
.messagebox.error   {
  color: #A52A2A
}

div#headline  {
  width: 800px;
  text-align: center;
}
div#headline h5 {
  margin-top: -1em;
}

div#navigation {
  text-align: left;
  border-style: solid;
  border-width: thin;
  padding: 0.3em;
  width: 200px;
  position: fixed;
  left: 0px;
}
div#navigation ul  {
  margin-top: 0.5em;
}

div#content  {
  width: 800px;
  text-align: center;
}
div#content table   {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0.2em;
}
div#content td  {
  padding-left: 1em;
  padding-right: 1em;
}

div.post  {
  border-style: solid;
  border-width: thin;
  margin-bottom: 20px;
}
.post.date   {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 0em;
  margin-top: 0em;
}
.post.author  {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 0em;
  margin-top: 0.8em;
}
.post.icon  {
  position: relative;
  left: 10px;
  top: -25px;
  width: 51px;
  margin-bottom: 0px;
  border-style: none;
}

.post.title   {
  margin-top: -40px;
  margin-left: 10%;
  margin-right: 10%;
}
.post.title a {
  color: #000;
}
.post.title a:hover  {
  text-decoration: underline;
  color: #4274A1;
}
.post.text  {
  margin-left: 12%;
  margin-right: 12%;
  text-align: justify;
  margin-bottom: 10px;
  border-style: none;
}
.post.text pre  {
  font-family: 'Georgia', serif;
}
.post.embedded {
  text-align: center;
  border-style: none;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.post.link  {
  border-style: none;
  margin-bottom: 10px;
  margin-left: 12%;
  margin-right: 12%
}
.post.image   {
  border-style: none;
  margin-bottom: 10px;
}
.post.image img {
  max-width: 560px;
}
.post.commentlink {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 2px;
  border-style: none;
}
.post.public_link_field {
  text-align: right;
  border-style: none;
  margin-left: 10px;
  margin-right: 10px;

  font-size: 0.9em;
}

.post_list  {
  border: 1px solid #6294C1;
  margin-bottom: 20px;
  text-align: left;
}
.post_list ul	{
	list-style-type: none;
	margin-left: -25px;
}
.post_list li  {
  padding-top: 0.3em;
	background-repeat: no-repeat;
	padding-left: 20px; 
	background-position: 0px 5px; 
}
.post_list_audio {
	background-image: url('/static/img/audio_small.png');
}
.post_list_video {
	background-image: url('/static/img/video_small.png');
}
.post_list_image {
	background-image: url('/static/img/image_small.png');
}
.post_list_text {
	background-image: url('/static/img/text_small.png');
}
.post_list_link {
	background-image: url('/static/img/link_small.png');
}

div#pagelinks   {
  clear: right;
  width: 800px;
  margin-top: 1.5em;
  text-align: center;
}
div#pagelinks a {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

div#footer {
  width: 800px;
  margin-top: 1.5em;
  margin-bottom: 1em;
  padding-top: 1em;
  text-align: center;
  border-top-width: thin;
  border-top-style: solid;
  font-size: 0.9em;
  height: 20px;
}
div#footer a  {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

div.commentarea {
  width: 750px;
  margin-left: 50px;
  margin-top: 2em;
}
.commentarea h4 {
  text-align: left;
  margin-bottom: 0.7em;
  margin-top: 0em;
}
.commentbox {
/*  text-align: center;*/
  border: 1px solid #6294C1;
  margin-bottom: 0.5em;
  margin-left: 0em;
  padding-bottom: 0.5em;
}
.commentbox h5, h6  {
  text-align: left;
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}
.commentbox blockquote  {
  text-align: justify;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 2em;
  margin-right: 2em;
}
.commentbox pre {
  font-family: 'Georgia', serif;
}

.newcomment {
  text-align: left;
  margin-top: 1em;
  margin-left: 0em;
}
.newcomment h4  {
  margin-bottom: 0.5em;
}

img.avatar  {
  max-width: 100px;
  max-height: 100px;
}
.avatar.settings {
  margin-top: 5px;
  margin-bottom: 5px;
}

a:link, a:visited, a:active {
  color: #4274A1;
}
a:hover   {
  color: #4274A1;
  text-decoration: none;
}

div#login, div#register   {
  width: 800px;
  padding-bottom: 1em;
  text-align: center;

  border-style: solid;
  border-width: thin;
}
.form_input {
  width: 23em;

  margin-left:300px;
  text-align:left;
}

.form_input dl,dt,dd  {
  margin-left: 0em;
  font-weight: bold;
}
.form_input input[type="text"],[type="password"] {
  width: 17em;
}
.form_input input[type="checkbox"]  {
  margin-top: 0em;
  margin-left: 0em;
  margin-bottom: 1em;
}
.form_input span  {
  margin-right:0em;
}

.form_input input[type="button"],[type="submit"]  {
  margin-left: 0em;
  margin-right: 15em;
  margin-bottom: 1em;
  width: 6em;
}

div#newpost {
  width: 800px;

  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-top: 1.5em;
  margin-bottom: 1em;

  text-align: left;
  color: #4274A1;
  border: 1px solid #6294C1;
}

div#newpost img {
  float: left;
}

div#newpost h3  {
  text-align: left;
  margin-left: 41%;
}

div#mask  {
  margin-left: 25%;
  clear: both;
}

div#mask table  {
  border-spacing: 0.5em;
  width: 60%;
}

div#mask th {
  text-align: center;
}

div#usersettings   {
  width: 24em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  text-align: left;
  padding-left: 2em;
}
div#usersettings h4 {
  margin-bottom: 0.4em;
}
div#usersettings span   {
  float: right;
}


