{% extends 'admin/base.html' %}

{%- block content %}
  <div id="content">
    <table>
      <tr>
        <th>Id</th><th>Name</th><th>Email</th>
        <th>Admin?</th><th>Activated?</th><th>Last login</th>
      </tr>
{%- for user in user_list %}
      <tr>
        <td><a href="/admin/user/{{ user.id }}/">{{ user.id }}</a></td>
        <td><a href="/admin/user/{{ user.id }}/">{{ user.name }}</td><td>{{ user.email }}</a></td>
        <td>{% if user.admin %}Yes{% else %}No{% endif %}</td>
        <td>{% if user.active %}Yes{% else %}No{% endif %}</td>
        <td>{{ user.last_login |date_and_time }}</td>
      </tr>
{%- endfor %}
    </table>
{%- if not user_list %}
    <h3>No users found</h3>
{%- endif %}
  </div>
{%- endblock %}
